.size_12 {
  font-size: 12px;
}
.size_14 {
  font-size: 14px;
}
.size_16 {
  font-size: 16px;
}
.size_18 {
  font-size: 18px;
}
.size_20 {
  font-size: 20px;
}

.fw300 {
  font-weight: 300;
}
.fw400 {
  font-weight: 400;
}
.fw500 {
  font-weight: 500;
}
.fw700 {
  font-weight: 700;
}
.fw900 {
  font-weight: 900;
}

.error {
  color: red;
}

.success {
  color: green;
}
